*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
} 

#goal > p {
    position: absolute;
    font-size: 40px;
    top: 100px;
    left: 700px;
    color: rgb(255, 0, 0);
}

#controls{
    position: absolute;
    font-size: 40px;
    top: 400px;
    left: 100px;
    color: rgb(255, 0, 0);
    display: none;
}