<div class="credits">
  <h1>Thanks for playing!</h1>
  
  <p>
    Character sprite taken from <a href="https://luizmelo.itch.io/">https://luizmelo.itch.io/</a> - "Medieval Warrior Pack 2"
    <br />
    <br />
    Background sprites taken from <a href="https://sanctumpixel.itch.io/">https://sanctumpixel.itch.io/</a> - "Forest Lite Pixel Art Tileset"
  </p>
  
  <p>Made by <a href="https://www.linkedin.com/in/mihajlo-kostic/">Mihajlo Kostic</a></p>
  <p><a href="https://github.com/mihajlo252/platformer-game">Repository</a></p>
</div>
